body {
  margin: 0;
  font-family: 'Freight Sans Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Freight Sans Book', 'Courier New',
    monospace;
}
